<div class="container">
  <div class="row mt-4">
    <div class="col-12">
         <h1 class="text-center"><strong>〜マイページ〜</strong></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2 mt-2">
      <%= link_to "アカウント編集", edit_customer_path(@customer.id), class:"btn btn-success btn-block" %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <table class="table table-bordered">
        <tr class="text-center">
          <td colspan="3"><h3><strong>ユーザー情報</strong></h3></td>
        </tr>
        <tr class="text-center">
          <td colspan="3">
            <%= attachment_image_tag @customer, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
            <strong>アカウント名：</strong><%= @customer.name %>
          </td>
        </tr>
        <tr>
          <td class="col-6"><strong>好きな動画：</strong><%= @customer.original %></td>
          <td class="col-3"><%= @customer.followings.count %></td>
          <td class="col-3"><%= @customer.followers.count %></td>
        </tr>
        <tr class="inpressions">
          <td colspan="3"><strong>自己紹介：</strong><%= @customer.introduction %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <h3 class="text-center"><strong><%= @customer.name %>さんの投稿一覧</strong></h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2 my-3">
      <%= link_to "新規投稿", new_movie_path, class:"btn btn-primary btn-block" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <% @movies.each do |movie| %>
        <table class="table table-bordered">
          <tr>
            <td class="align-middle" colspan="2">感想タイトル：<%= movie.title %></td>
            <td class="col-sm-2 text-center">
              <%= link_to '詳細', movie_path(movie.id), class:"btn btn-warning" %>
              <%= link_to '編集', edit_movie_path(movie.id), class:"btn btn-success" %>
              <%= link_to '削除', movie_path(movie), method: :delete, "data-confirm" => "本当に消しますか", class:"btn btn-danger" %>
            </td>
          </tr>
          <tr>
            <td class="col-sm-4">原作：<%= movie.original %></td>
            <td class="col-sm-3">ジャンル：<%= movie.genre.present? ? movie.genre.name : 'unknown' %></td>
            <td class="col-sm-2">♥<%= movie.favorites.count %> いいね</td>
          </tr>
          <tr>
            <td class="movie-evaluation" data-score="<%= movie.evaluation %>"></td>
          </tr>
        </table>
        <br>
      <% end %>
    </div>
  </div>
  <div class="my-3"><%= paginate @movies %></div>
</div>

