<!DOCTYPE html>
<html>
  <head>
    <title>Movie Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar">
        <div class="container">
            <div><%= link_to " Movie Library", root_path, class:"fas fa-film" %> </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if customer_signed_in? %>
                  <li><%=link_to'ホーム', root_path, class: 'nav-link' %>
                  <li><%=link_to'マイページ', customers_path(current_customer),class: 'nav-link' %></li>
                  <li><%=link_to'感想一覧', movies_path, class: 'nav-link' %>
                  <li><%=link_to'ログアウト', destroy_customer_session_path, method: :delete, class: 'nav-link' %></li>
                <% else %>
                  <li><%=link_to'About', about_path, class: 'nav-link' %></li>
                  <li><%=link_to'感想一覧', movies_path, class: 'nav-link' %>
                  <li><%=link_to'新規登録', new_customer_registration_path,class: 'nav-link' %></li>
                  <li><%=link_to'ログイン', new_customer_session_path, class: 'nav-link' %></li>
                <% end %>
              </ul>
            </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="container text-center mt-5">
        <div class="footer-text">
          <p><smal>&copy; movie_liblary.inc</smal></p>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/raty-js@3.0.0/lib/jquery.raty.js"></script>
    <!--フラッシュメッセージ。----------------------- -->
    <% flash.each do |type, msg| %>
      <% type = 'info' if type == 'notice' %>
      <% type = 'error' if type == 'alert' %>
    <script>
      toastr['<%= type %>']('<%= msg %>');
    </script>
  <% end %>
    <!--ここまで----------------------------------- -->
  </body>
</html>
